{% macro exception(exception) %}
	<section class="exception">
		<hgroup>
			<h1>
				{% if exception.getCode() %}
				[{{ exception.getCode() }}]
				{% endif %}
				{% if not exception.getMessage() %}
				<em>No message</em>
				{% else %}
				{{ exception.getMessage() }}
				{% endif %}
			</h1>
			<h2>{{ exception.getClass() }}</h2>
			{% if exception.getStatusCode() %}
			<h3>HTTP Status Code <strong>{{ exception.getStatusCode() }}</strong></h3>
			{% endif %}
		</hgroup>

		<p>Thrown in <em>{{ exception.getFile() }}</em> on line <strong> {{exception.getLine() }}</strong>.</p>

		<section class="trace">
			<h1>Stack trace</h1>

			<ol>
				{% for trace in exception.getTrace() %}
				<li>
					at {% if trace.class %}
					<abbr class="class" title="{{ trace.class }}">{{ trace.short_class }}</abbr>->{% endif %}<span class="method">{{ trace.function }}</span>{{ _self.args(trace.args) }}
					on <span class="file">{{ trace.file }}</span> line <span class="line">{{ trace.line }}</span>

					{{ render(controller('Message:Cog:Debug::Controller:Exception#filePeek', {file: trace.file, line: trace.line})) }}
				</li>
				{% endfor %}
			</ol>
		</section>
	</section>
{% endmacro %}
{% macro args(args) %}
	<span class="args">
		(
		{% for arg in args %}
		<span class="arg">
			<span class="type">{{ arg[0] }}</span>
			(<span class="value">{% if arg[1][0] is defined %}{{_self.args(arg[1])}}{% else %}{{ arg[1] }}{% endif %}</span>)
		</span>{% if not loop.last %},{% endif %}
		{% endfor %}
		)
	</span>
{% endmacro %}
{% import _self as debug %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Cog Exception</title>

		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}

			h1,
			h2,
			h3,
			p,
			ol {
				padding: 20px 20px 0;
			}

			hgroup h1 {
				background: red;
				padding: 30px 20px;
			}
		</style>
	</head>
	<body>
		{{ debug.exception(exception) }}

		<section class="previous">
			<h1>Previous exceptions</h1>

			{% for previous in exception.getAllPrevious() %}
			{{ debug.exception(previous) }}
			{% endfor %}
		</section>
	</body>
</html>